{% extends "base.html" %}

{% block content %}
	<form method="post">
		<p>
			<h3>Your name</h3>
			Make sure to enter your full name.<br>
			<input name = "name">
			<p style="color: #ff0000;">{{ error }}</p>
		</p>
		<p>
			<h3>Who you contacted</h3>
			<select name="rep">
				<option>John Smith</option>
				<option>Bill Gates</option>
				<option>Tronald Dump</option>
			</select>
		</p>
		<p>
			<h3>School</h3>
			<select name="school">
				<option>The Overlake School</option>
				<option>Redmond High School</option>
			</select>
		</p>
		<p>
			<h3>How did you contact them?</h3>
			<select name="contact">
				<option>Email</option>
				<option>Phone</option>
				<option>Mail (includes ResistBot)</option>
				<option>In person</option>
				<option>Courier pigeon</option>
				<option>Other</option>
			</select>
		</p>
		<p><input type="submit" value="Submit" class="button"></p>
	</form>
{% endblock %}
