{% extends "base.html" %}
{% block content %}
<br>
	Hello climate activists! Thanks for visiting the home of the Eastside Youth Climate Strike. On Friday, March 15th, we are walking out of class to spend our time focusing on the pressing problem of climate change. If you'd like to join the movement, call your representative!<br><br>
	<h2>Calling Tips and Tricks</h2>
	<ol>
		<li><h3>Stay calm and respectful.</h3>
			<p>
				This is the most important rule. Even if the other end of the line gets frustrated, we won't win any battles by being "belligerent youth."
			</p>
		</li>
		<li>
			<h3>Stick to the facts.</h3>
			<p>
				If you aren't sure of something, or of they confront you with something you haven't heard before, stick with what you know.
			</p>
		</li>
		<li>
			<h3>Ask for help.</h3>
			<p>
				If there's a situation you're unsure of how to handle, ask one of the leaders for help.
			</p>
		</li>
		<li>
			<h3> Have fun and change the world!</h3>
		</li>
	</ol>
	<h3>Why us? Why now?</h3>
	<h4>Because we have no other choice.</h4>
	<ul>
		<li><b>97 percent:</b> The percentage of scientists who agree that warming trends over the past century are very likely caused by human activity.</li>
		<li><b>1950: </b>Year when atmospheric CO2 levels broke records from the previous 400,000 years, sharply rising and continuing to grow.</li>
		<li><b>6.7 inches: </b>Rise in global sea levels over the last century. The rate of rise has doubled in the last decade.</li>
		<li><b>18:</b> Number of record-breaking hottest years since 2000. 2018 was the hottest year yet. </li>
		<li><b>1.5 degrees:</b> The average worldwide temperature increase in Fahrenheit compared to a century ago.</li>
		<li><b>400 parts per million:</b> Average concentration since 2016 of CO2 in the atmosphere, compared to 275 PPM for past 400,000 years.</li>
		<li><b>21:</b> Average annual number of wildfires in Central and Eastern Washington — up from an average of six per year in the 1970s.</li>
		<li><b>19th century:</b> When the heat-trapping nature of CO2 was first demonstrated.</li>
		<li><b>30 percent:</b> The increase in acidity of the world's oceans.</li>
		<li><b>$180 billion:</b> Estimated economic losses to the United States by end of the century if no action is taken on climate change.</li>
	</ul>

{% endblock %}
