{% extends "base.html" %}
{% block content %}
<br>
	Hello climate activists! Thanks for visiting the home of the Eastside Youth Climate Strike. On Friday, March 15th, we are walking out of class to spend our time focusing on the pressing problem of climate change. If you'd like to join the movement, call your representative!<br><br>
	<h2>Calling Tips and Tricks</h2>
	<ol>
		<li><h3>Stay calm and respectful.</h3>
			<p>
				This is the most important rule. Even if the other end of the lien gets frustrated, we won't win any battles by being "belligerent youth."
			</p>
		</li>
		<li>
			<h3>Stick to the facts.</h3>
			<p>
				If you aren't sure of something, or of they confront you with something you haven't heard before, stick with what you know.
			</p>
		</li>
		<li>
			<h3>Ask for help.</h3>
			<p>
				If there's a situation you're unsure of how to handle, ask one of the leaders for help.
			</p>
		</li>
		<li>
			<h3> Have fun and change the world!</h3>
		</li>
	</ol>
{% endblock %}
