{% extends "base.html" %}
{% block content %}
      <h2>Most wanted</h2>
      <p style="font-size:20px">These are the people we want to spend the most time calling - click on their picture to learn more and get a script!<br>
      Or, if you want to call somebody who isn't on this list, click <a href="/supporter">here</a> for a script if they are a climate activist or click <a href="/denier">here</a> if they are a cliimate denier.
      <br>Note: These scripts are just templates - feel free to say something different if you're comfortable!
      </p>
	<table>
            <tr>
                  <th>
                        <a href="/harris" class="wantedlink">
                              <figure>
                                    <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/editor/190312-kamala-harris-cs-1032a-5aa9c0d3e6c9a29645b977114988601d-fit-760w_1.jpg?1552535527" alt="Kamala Harris" style="height:90%">
                                    <figcaption><br> Senator Kamala Harris</figcaption>
                              </figure>
                        </a>
                  </th>
                  <th>
                        <a href="/inslee" class="wantedlink">
                              <figure>
                                          <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/editor/lead-720-405.jpg?1552535546" alt="Kamala Harris" style="height:90%">
                                          <figcaption><br> Governor Jay Inslee</figcaption>
                              </figure>
                        </a>
                  </th>
            </tr>
            
            <tr>
                        <th>
                              <a href="/orourke" class="wantedlink">
                                    <figure>
                                          <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/orourkebeto-010317gn_orig.jpg" alt="Beto O'Rourke" style="height:90%">
                                          <figcaption><br> Representative Beto O'Rourke</figcaption>
                                    </figure>
                              </a>
                        </th>
                        <th>
                              <a href="/sanders" class="wantedlink">
                                    <figure>
                                                <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/editor/9ddg5f6v-400x400.png?1552535731" alt="Bernie Sanders" style="height:90%">
                                                <figcaption><br> Senator Bernie Sanders</figcaption>
                                    </figure>
                              </a>
                        </th>
                  </tr>

            <tr>
                        <th>
                              <a href="/barrasso" class="wantedlink">
                                    <figure>
                                          <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/john-barrasso-official-portrait-112th-congress_orig.jpg" alt="Beto O'Rourke" style="height:90%">
                                          <figcaption><br> Senator John Barrasso</figcaption>
                                    </figure>
                              </a>
                        </th>
                        <th>
                              <a href="/booker" class="wantedlink">
                                    <figure>
                                                <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/cory-booker-official-portrait-114th-congress_orig.jpg" alt="Cory Booker" style="height:90%">
                                                <figcaption><br> Senator Cory Booker</figcaption>
                                    </figure>
                              </a>
                        </th>
            </tr>
            <tr>
                        <th>
                              <a href="/pelosi" class="wantedlink">
                                    <figure>
                                          <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/editor/190312-nancy-pelosi-mn-0850-423a91c65080a5d987582f064f34cc83-fit-760w.jpg?1552536068" style="height:90%">
                                          <figcaption><br> House Speaker Nancy Pelosi</figcaption>
                                    </figure>
                              </a>
                        </th>
                        <th>
                              <a href="/trump" class="wantedlink">
                                    <figure>
                                                <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/editor/trump-photo.jpeg?1552536145" alt="Donald Trump" style="height:90%">
                                                <figcaption><br> President Donald Trump</figcaption>
                                    </figure>
                              </a>
                        </th>
            </tr>
            <tr>
                        <th>
                              <a href="/mconnell" class="wantedlink">
                                    <figure>
                                          <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/editor/ap-17336684508115-c0-212-4831-3028-s885x516.jpg?1552536204" style="height:90%">
                                          <figcaption><br> Senator Mitch McConnell</figcaption>
                                    </figure>
                              </a>
                        </th>
                        <th>
                              <a href="/trump" class="wantedlink">
                                    <figure>
                                                <img src="http://climatestrike.weebly.com/uploads/9/0/3/0/90300383/editor/ewscripps-brightspotcdn.jpg?1552536230" alt="Andrew Wheeler" style="height:90%">
                                                <figcaption><br> EPA Head Andrew Wheeler</figcaption>
                                    </figure>
                              </a>
                        </th>
            </tr>

      </table>
{% endblock %}